@charset "utf-8";
/* @import "reset.css";
@import "common.css"; */

/*공통구역을 제외한 메인페이지 스타일*/


#section { padding-top: 131px;}
.slide { width:100%;}

.slide .slideInner { background-size:cover; 
    background-repeat:no-repeat; height:650px; 
    position:relative; background-position: center; }

/*ㅡㅡㅡㅡㅡㅡslick slide animationㅡㅡㅡㅡㅡㅡㅡ*/
.slide .slideInner.slick-active {
    animation: zoomOutMain 5s both;
}



@-webkit-keyframes zoomOutMain {
    from {
      opacity: 1;
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }


  @keyframes zoomOutMain {
    from {
      opacity: 1;
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

.slide .slide1 { 
    background-image:url(../images/main_01.jpg) }
.slide .slide2 { 
    background-image:url(../images/main_02.jpg) }
.slide .slide3 { 
    background-image:url(../images/main_03.jpg) }

.slide .text { text-align:center; 
    position:absolute; top:50%; left:50%; 
    transform:translate(-50%, -50%);
    
}



.slide .text h2 {font-size:64.6px; 
    color:#fff;
    font-weight: normal;
    padding-bottom: 20px;
}

.slide .text h2 span { 
    font-weight: bold ;
}


.slide .text h3 {font-size:17px; 
    color:#fff; font-weight: normal;
    padding:30px 0px 50px 0px; position: relative; }   

.slide .text h3:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 25%;
    height: 2px;
    background: #fff;
}

.slide .text a {font-size:17px;
    font-weight: bold;
    color:#fff;
    background: #da7030;
    padding: 10px 50px;
    border-radius: 6px;
    display: inline-block;
} 

.slide .text a:hover { background: #cc601f; transition:all 0.5s}

/* 화살표 버튼 */
.slideOuter .marrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    color: #fff;
    background: none;
    border: none;
}
.slideOuter .prevArrow{ left: 100px; z-index: 999999;}
.slideOuter .nextArrow{ right: 100px;}
 
/* 도트 버튼 */
.slideOuter .slick-dots {
    position:absolute; bottom:30px; width:100%; text-align:center;
}
.slideOuter .slick-dots li {    display:inline-block; margin:0 5px }
.slideOuter .slick-dots li button {
    width:15px; height:15px; border-radius:50%;
    background:#fff; border:none; color:transparent;
}
.slideOuter .slick-dots li.slick-active button { 
    background:#999
}



.company { padding-bottom: 50px;}

.company h2 {
    text-align: center;
    font-size: 37.4px;
    margin-top: 30px;
    padding: 30px 0px 15px 0px;
}

.company p {
    text-align: center;
    font-size: 15px;
    color: #666666;
    padding-bottom: 60px;
}

.company h2 span {
    color: #116a98;
}

.company a { display: block; float:left; width:50%; padding: 10px;}

.company .containerInner {
    height: 360px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.company .containerInner div {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 5.0em;
    color: #fff;
    opacity: 0.6;
    transform: translate(-50%, -50%);
}

.company .containerInner:hover div  { opacity: 1; transition:all 0.5s}

.company a:first-child .containerInner {
    background-image: url(../images/con_02_1.jpg);
}
.company a:last-child .containerInner {
    background-image: url(../images/con_02_2.jpg);
}

/*ㅡㅡㅡㅡㅡㅡ animate ㅡㅡㅡㅡㅡㅡㅡㅡ*/

.company .container a {
    overflow:hidden;
    opacity: 0; 
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.company .container.on a:first-child {
    animation:fadeInUp 1s both 0s;
}
.company .container.on a:last-child {
    animation:fadeInUp 1s both 0.5s;
}


.studio .studioInner .item {
    overflow:hidden;
    opacity: 0; 
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.studio .studioInner.on .item:nth-child(1) {
    animation: fadeInDown 1s both 0s;
}

.studio .studioInner.on .item:nth-child(2) {
    animation: fadeInDown 1s both 0.8s;
}

.studio .studioInner.on .item:nth-child(3) {
    animation: fadeInDown 1s both 0.6s;
}

.studio .studioInner.on .item:nth-child(4) {
    animation: fadeInDown 1s both 0.4s;
}

.studio .studioInner.on .item:nth-child(5) {
    animation: fadeInDown 1s both 0.2s;
}

.studio .studioInner.on .item:nth-child(6) {
    animation: fadeInDown 1s both 1s;
}

/*ㅡㅡㅡㅡㅡㅡㅡvideo boxㅡㅡㅡㅡㅡㅡㅡㅡ*/

.vidOut {position:fixed; top:0; left:0; bottom: 0; right: 0; background:rgba(0, 0, 0, 0.5); display: none; z-index: 99999999;  }
.vidInner {position:fixed; top:15%; left:15%; bottom: 15%; right: 15%; }
.vidClose {position: absolute; top: -50; right: 0; padding: 10px; font-size: 50px; color: #fff;}

/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

.conBG { background-image: url(../images/con_03_bg.jpg);
    height: 299px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment:fixed;
}

.conBG .text {
    text-align:center; 
    position:absolute; top:50%; left:50%; 
    transform:translate(-50%, -50%);
    font-size: 34px;
    color: #fff;
}

.conBG .text p {
    font-size: 17px;
    padding-bottom: 40px;
}

.conBG .text a {
    font-size:17px;
    color:#fff;
    background: rgba(14, 129, 136, 0.5);
    padding: 10px 50px;
    border-radius: 20px;
    display: inline-block;
    transition:all 0.5s
}

.conBG .text a:hover { background: #0b747b;}

.studio h2 { padding-top: 60px; padding-bottom: 20px;
    font-size: 30px;
    color: #444444;
    text-align: center;
}

.studio .studioInner .item {
    float: left;
    width: 30%;
    margin-left: 5%;
    padding: 0 15px;
    text-align: center;
}

.studio .studioInner .item a:hover .overRay:after { background: rgba(0, 0, 0, 0.4);}

.studio .studioInner .item .overRay {position: relative;}

.studio .studioInner .item .overRay:after {content: ''; position: absolute; left: 0; right: 0; top: 0; bottom: 0;
background: rgba(0, 0, 0, 0); transition:all 0.5s}

.studio .studioInner .item p {
    margin: 5px 0px 50px 0px;
    color: #666666;
}

.studio .studioInner .item:nth-child(1),
.studio .studioInner .item:nth-child(4) {
    margin-left: 0;
}

.studio .studioInner img {
    width: 100%;
}

.studio .button {
    width: 180px;
    margin: 0 auto;
    padding: 10px 0;
    border: 1px solid #a3bece;    
    font-size: 14px;
    text-align: center;
    clear: both;
    border-radius: 20px;
    color: #999999;
}

.studio .button:hover { background: #a3bece; color: #fff; transition:all 0.5s}

.notice { background: #39454b;  padding: 50px 0; margin-top: 40px; font-size: 17px; color: #bbb;}
.notice .row h3 { color: #ddd; font-size: 18.7px; padding: 5px;}
.notice > .row > div { float:left; width:33.33%; }


.notice .get .cscenter > p:first-child { padding-bottom: 10px;}
.notice .network .sns li { display: inline-block; font-size: 30px; padding: 0 5px;}
.notice .network .sns li:hover { color: #fff;transition:all 0.5s}


.ccnumber { text-align: center;}
.ccnumber h3 {font-size: 22.1px; font-weight: normal; color: #555555; padding-top: 60px;}
.ccnumber h3 span {font-weight: 600; padding-left: 15px;}
.ccnumber p { font-size: 15px; color: #666666; padding-top: 10px; padding-bottom: 60px;}



#footer { text-align:center; font-size: 12.25px; }


.comInfo { background:#f7f7f7; color: #666666; padding: 20px 0;}
.comInfo .sns a { font-size: 17px; padding: 0px 10px 10px; display: inline-block;}
.comInfo .info span { letter-spacing: -1px; padding-left: 5px;}
.comInfo .info span:before { content: '|'; padding-right: 7px; font-size: 6px;
    position: relative; top: -1px;}

.copyright { background:#0a0a0a; font-size: 10.5px; padding: 10px 0px; color: #333;}
