@charset "utf-8";

.noticePage .topImg {
    background: url(../images/coustomerTop.jpg) no-repeat;
    background-size: cover;
    height: 160px;
}

input {
    border: 1px solid #ddd;
}

.noticePage {
    padding: 130px 0px;
}

.comInt {
    float: left;
    width: 25%;
}

.noticePage h2 {
    text-align: center;
    font-size: 25px;
    padding: 10px 10px 30px 10px;
}

.noticeTable {
    /* border: 1px solid #ddd; */
    /* padding: 30px; */
    float: left;
    width: 75%;
}

.sbox {
    text-align: center;
}

.sbox select {
    height: 30px;
    vertical-align: middle;
}

.sbox input[type=text] {
    height: 30px;
    width: 300px;
    text-indent: 1em;/*글씨 (1em만큼)들여쓰기*/
    vertical-align: middle;
}

.sbox input[type=submit] {
    height: 30px;
    background: #ddd;
    padding: 0 8px;
    border-radius: 5px;
    vertical-align: middle;
}


/* .noticeTable td {
    white-space: nowrap; 내용이 길어질경우 자동줄바꿈이 되지 않게
    overflow: hidden;
    text-overflow: ellipsis; 말줄임표
} */

.noticeTable{ margin-top: 20px;}

.noticeTable col:nth-child(1) {
    width: 5%;
}
.noticeTable col:nth-child(2) {
    width: auto;
}
.noticeTable col:nth-child(3) {
    width: 13%;
}
.noticeTable col:nth-child(4) {
    width: 13%;
}
.noticeTable col:nth-child(5) {
    width: 8%;
}

.noticeTable table {
    border: none;
    font-size: 14px;
    margin-bottom: 30px;
}
.noticeTable th,
.noticeTable td {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px 5px;
}

.noticeTable tbody td:nth-child(1),
.noticeTable tbody td:nth-child(3),
.noticeTable tbody td:nth-child(4),
.noticeTable tbody td:nth-child(5) {
    text-align: center;
}
.noticeTable th {
    background: #adcade;
    border-top: 1px solid #333;
}
.noticeTable tbody tr:hover {
    background: #adcade;
    color: red;
}

/* 게시판 페이지번호 */

.noticePage .numlist {
    text-align: center;
    /* margin: 30px; */
    font-size: 16px;
}
.noticePage .numlist span {
    background: #ddd;
    padding: 5px 8px;
    display: inline-block;
}
.noticePage .numlist a {
    display: inline-block;
    padding: 5px 8px;
    border: 1px solid #ddd;
}

.noticePage .numlist a:hover {
    background: #ddd;
}

.noticePage .numlist a.on {
    background: #adcade;
}

.noticePage .sbox {
    padding-top: 30px;
}


@media only screen and (max-width:1024px) {
    
}



@media only screen and (max-width:767px) {

    .comInt {
        width: 25%;
        float: left;
        padding: 0 15px;
        display: none;
    }

    .noticeBox {
        width: 100%;
    }

    .noticePage .topImg {
        background: url(../images/coustomerTop.jpg) no-repeat;
        background-size: cover;
        height: 100px;
    }

    .noticeTable {
        /* border: 1px solid #ddd; */
        /* padding: 30px; */
        float: none;
        width: 100%;
    }

    .noticePage .numlist {
        text-align: center;
        font-size: 16px;
    }

    .noticePage .numlist span {
        background: #ddd;
        padding: 5px 8px;
        display: inline-block;
    }
    .noticePage .numlist a {
        display: inline-block;
        padding: 5px 8px;
        border: 1px solid #ddd;
    }


}

@media only screen and (max-width:424px) {

    .noticePage .numlist {
        text-align: center;
        /* margin: 30px; */
        font-size: 10px;
    }

}