@charset "utf-8";


@media only screen and (max-width:1350px) {
    .h1Nav .nav {
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
    }


}

@media only screen and (max-width:1166px) {
    .row {
        padding: 0 10px;
    }
    
    .nav .depth1>li>a {
        display: block;
        padding: 10px;
    }

    .topmenu a {
        margin: 0px 5px;
        font-size: 13.6px;
        font-family: '나눔고딕';
        color: #555555;
    }


}



@media only screen and (max-width:1024px) {

    .h1Nav .nav .depth1>li>a {
        display: block;
        padding: 20px;
    }

    .h1Nav {
        height: 150px;
    }

    .h1Nav h1 img {
        display: block;
        padding: 20px;
        margin: 0 auto;
    }

    .h1Nav .nav {
        position: static;
        top: 65%;
        right: 0%;
        transform: translateY(-50%);
        text-align: center;
        margin-top: 25px;

    }

    #footer { text-align:center; font-size: 10px; }


}


@media only screen and (max-width:767px) {

    .h1Nav {
        position: relative;
        height: 90px;
    }


    .h1Nav .nav {
        position: absolute;
        top: 100%;
        right: 0%;
        transform: translateY(0%);
        text-align: center;
        margin-top: 25px;
        /* display: none; */
        background: #fff;
    }

    .h1Nav .nav .depth1>li {
        display: block;
    }


    .h1Nav .nav .depth1>li>a {
        display: block;
        padding: 30px;
    }

    .nav .depth1 .depth2 { position: static; top: 100%; left: 0; width: 100%; 
        background: #fff; display: none;  }


    .mobile_searchBtn {
        display: block;
        position: absolute;
        top: 25px;
        right: 45px;
        font-size: 20px;
    }

    .h1Nav .open_nav {
        display: block;
        position: absolute;
        top: 25px;
        right: 10px;
        font-size: 20px;
    }

    .h1Nav .close_nav {
        display: none;
        position: absolute;
        top: 25px;
        right: 10px;
        font-size: 20px;
    }

    #footer { text-align:center; font-size: 12.25px; }
    .comInfo .info span { letter-spacing: -1px; padding: 3px 0px 3px 5px; display: block;}
    .comInfo .info span:before { content: ''; padding-right: 7px; font-size: 6px;
        position: relative; top: -1px;}


}