@charset "utf-8";


@media only screen and (max-width:1350px) {
    .nav {
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
    }
}

@media only screen and (max-width:1166px) {
    .row {
        padding: 0 10px;
    }

    .topmenu a {
        margin: 0px 5px;
        font-size: 13.6px;
        font-family: '나눔고딕';
        color: #555555;
    }

    .nav {
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
    }
        
}



@media only screen and (max-width:1024px) {
    .nav {
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translateY(-50%);
    }
    
    .nav .depth1 > li > a {display: block; padding: 32px 35px;}
}

@media only screen and (max-width:767px) {
    
}